# Ignorar archivos index.html
index.html

# Ignorar dependencias de Composer
/vendor/

# Archivos de log
*.log

# Caché
*.cache

# Configuraciones locales
.env
.env.local
.env.*.local


.code-workspace

# Carpeta excluida
laravel-crud/

